*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Marker Felt";
}

h1 {
  font-size: 4.5rem;
  border-bottom: 1px solid palevioletred;
  /* color: aqua; */
}
h2 {
  color: palevioletred;
}

p {
  color: gray;
}

.h1-tittle {
  color: palevioletred;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.3); */
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 40vh;
  /* background-color: bisque; */
  background-image: url(/image/FirstPage-01.jpg);
  background-size: 100%;
}

.body-tittle {
  background-image: url(/image/Homepage-01.jpg);
  background-size: 100%;
}

.center {
  margin: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  /* -ms-transform: translate(-30%, -50%); */
  transform: translate(-50%, -50%);
}

.center-tittle {
  margin: 0;
  position: absolute;
  top: 55%;
  left: 50%;
  /* -ms-transform: translate(-30%, -50%); */
  transform: translate(-50%, -50%);
}

.container {
  width: 800px;
  max-height: 100%;
  max-width: 100%;
  /* background-color: white; */
  padding: 10px;
  border-radius: 5px;
  /* box-shadow: 0 0 10px 2px; */
}

.btn-grid {
  display: grid;
  /* grid-template-columns: repeat(1, center); */
  /* align-content: center; */
  gap: 20px;
  margin-top: 20px;
}

.btn {
  background-color: tan;
  border: 1px solid burlywood;
  box-shadow: 0 0 10px 2px;
  font-size: 1.5rem;
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;
}

.btn:hover {
  border-color: palevioletred;
  background-color: pink;
  color: palevioletred;
}

.btn-tittle {
  width: 100px;
  height: 40px;
  border-radius: 50px;
}

.btn-page {
  width: 350px;
  height: 300px;
}

/* Background Styles Only */

/* @import url("https://fonts.googleapis.com/css?family=Raleway"); */
